<header>
    <div class="image">
        <div class="navbar">
            <div class="logo"></div>
            <div class="side2">
                <ul>
                    <li><a href="">Login</a></li>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Qbjx3T6psMG-TvD_5FxHI-gZp_7q99HRchNm8IiC9bru0ExyzbqLjoIMB4G03dWPU-E&usqp=CAU" alt="Icon">
                    <li><a href="">Help</a></li>
                </ul>
            </div>
        </div>
        <p>Trusted Matrimony & Matchmaking Service</p>
        <div class="info">
            <div class="drop gender">
                <h3>I'm looking for</h3>
                <select name="cars" id="cars">
                    <option value="volvo">Women</option>
                    <option value="saab">Men</option>
                  </select>
            </div>
            <div class="drop uptoDate">
                <h3>aged</h3>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
            <h3>to</h3>
            <div class="drop tillDate">
                <h3>I'm looking for</h3>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
            <div class="drop religon">
                <h3>I'm looking for</h3>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
            <div class="of religion">
                <h3>I'm looking for</h3>
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
            </div>
            <button>Let's Begin</button>
        </div>
    </div>

</header>